<div style="padding-left: 40px; max-height: 100%; overflow-y: scroll;" class="container-fluid">
  <div>
    <h1>H O L Y L O T T O</h1>
    <p>Guess five digits in order. Make your winning combination or fill it with the random number generator. Buy as much tickets as you want. </p>

  </div>
  
  <div>
    <h1>THE GAME. </h1>
    <p>Create your dream combination using these digits</p>
    <p>0 1 2 3 4 5 6 7 8 9 A B C D E F</p>
  </div>
  
  <div>
      <h1>Prize distribution</h1>
      <p>Guessing one digit- 20% of the total ticket sale.</p>
      <p>Guessing two digit- 20% of the total ticket sale.</p>
      <p>Guessing three digit- 20% of the total ticket sale.</p>
      <p>Guessing four digit- 20% of the total ticket sale.</p>
      <p>Guessing five digit- Wins the jackpot.</p>
    </div>
    <div style="margin-top:20px;">
    <p> *From the total prize pool. </p>
    <p>Why 20% on everything?</p>
    <p>When there are many players, in each category the prize is divided among more people. That is, how many more numbers you hit, the more you win. </p>
    </div>
  
  <div>
      <h1>RANDOMNESS.</h1>
      <p>We take the winning combination of the last 5 digits of an Ethereum hash function. When the draw closes we select the next Ethereum block that gets mined. The hash is a combination of numbers and letters impossible to predict, it is used for the Blockchain operation and security. 
      </p>
  </div>
  
  <div>
      <h1>TICKETS.</h1>
      <p>Buy tickets for 0.01 ETH with your wallet or Metamask. This ensures a quickly traceable and safe
        payment.</p>
  </div>

  <div>
    <h1>DISTRIBUTION.</h1>
    <p>The funds collected from ticket sales are distributed in the next way: </p>
    <p>70% goes to the Prize Pool and Jackpot. </p>
    <p>20% The holy maintenance and 10% to ensure the game security.</p>
</div>

<div>
  <h1>JACKPOT.</h1>
  <p>20% of the Prize pool is destined to the Jackpot pool, if there is a winner he gets 20% of the total prize pool plus the accumulated Jackpot (in case there is), if there are more than one winner the 20% gets divided into the number of winner there are and if nobody wins the jackpot (guessing 5 digits) it gets accumulated for the next drawing. </p>
</div>

<div>
  <h1>PRIZE.</h1>
  <p>If there are more than one winner the 20% corresponding to the guessed numbers is divided by the number of winners in the category. If there are no winners, the sum is rolled over to the Jackpot pool for the next drawing.Agreement </p>
</div>

<div>
  <h1>AGREEMENT.</h1>
  <p>By participating in the lottery and by purchasing the lottery tickets, you agree to the lottery rules.</p>
</div>

</div>
