<div class="game-container">
  <div class="main">
    <div class="header-table">
      <div class="column">
        <h5 class="lila">DRAW #80</h5>
      </div>
    </div>
    <div class="body-table">
      <div class="row-table">
        <div class="item">
          <h5>DATE</h5>
        </div>
        <div class="item">
          <h5>27/04/18 18:57</h5>
        </div>
      </div>

      <div class="row-table">
        <div class="item">
          <h5>WINNING COMBINATION</h5>
        </div>
        <div class="item">
          <h5 class="lila">1 2 3 A F</h5>
        </div>
      </div>
      <div class="row-table">
        <div class="item">
          <h5>WINNING BLOCK</h5>
        </div>
        <div class="item">
          <h5>54</h5>
        </div>
      </div>

      <div class="row-table">
        <div class="item">
          <h5>ETH BLOCK HASH</h5>
        </div>
        <div class="item">
          <h5>0x0dba167cb22f02ba003088e8bf40 62656def1c94f2651567ce222c55123AF</h5>
        </div>
      </div>

      <div class="row-table">
        <div class="item">
          <h5>JACKPOT</h5>
        </div>
        <div class="item">
          <h5>5 ETH</h5>
        </div>
      </div>

      <div class="row-table">
        <div class="item">
          <h5>BITCOIN BLOCK</h5>
        </div>
        <div class="item">
          <h5>54278</h5>
        </div>
      </div>


    </div>
  </div>
</div>